@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* neutral colors */
    --neutral-100: #FFFFFF;
    --neutral-200: #D9E1FA;
    --neutral-300: #D1DBF9;
    --neutral-400: #AEB9E1;
    --neutral-500: #7E89AC;
    --neutral-600: #0B1739;
    --neutral-700: #0A1330;
    --neutral-800: #081028;

    --primary: #CB3CFF;

    --secondary-1: #0B1739;
    --secondary-2: #9A91FB;
    --secondary-3: #00C2FF;
    --secondary-4: #343B4F;
    --secondary-5: #FDB52A;
}

@media (prefers-color-scheme: dark) {

}

body {
    color: var(--neutral-100);
    background: var(--neutral-800);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}

